@font-face {
	font-family: InGlobal;
	src: url(../fonts/inglobal/inglobal.ttf);
}

@font-face {
	font-family: Stylo;
	src: url(../fonts/Stylo/stylo_.ttf);
}
@font-face {
	font-family: FolioMix;
	src: url(../fonts/FoliaMix/Folia_Mix_Regular.ttf);
}
.brand {
	font-family: FolioMix;
}
.brand .color-a {
	color: #d12812
}
.brand .color-b {
	color: #2e5ee8
}
.brand .color-c {
	color: #b0276f
}
body {
	font-family: InGlobal;
	font-size: 16px;
}
.slogan {
	font-family: Stylo;
}
#primary {
	padding-left: 2%;
}

.star-rating {
	color: #f9c331;
}
.woocommerce #container, .woocommerce-page #container, .content-area {
	float: right;
	padding-left: 2%;
}
.page-template-default .content-area {
	box-shadow: 1px 0 0 #e0e0e0 inset;
}
.page-template-default .widget-area {
	box-shadow: none;
}
.woocommerce #content ul.products li.product span.price, .woocommerce-page #content ul.products li.product span.price {
	margin: 0 auto;
	overflow: hidden;
	font-size: 13px;
}
.woocommerce .woocommerce-error:before,
.woocommerce-page .woocommerce-error:before,
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-message:before,
.woocommerce .woocommerce-info:before,
.woocommerce-page .woocommerce-info:before {
	margin-left: 20px;
}
.woocommerce .woocommerce-breadcrumb,
.woocommerce-page .woocommerce-breadcrumb {
	padding-left: 2%;
}

.coupon {
	width: 51%;
}
#coupon_code {
	margin-left: 10px;
}
.woof_products_top_panel {
	display: none!important;
}
.woocommerce-result-count {
	display: block!important;
}

.woocommerce-product-search input[type="submit"] {
	padding: 11px 15px;
	background-color: #00adef;
}
.widget-area .widget .search-field {
	width: 72.5%;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background-color: #dedede;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: #dedede;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
	background-color: #00adef;
}
.price_label {
	font-weight: bold;
}

.site-header .widget_polylang {
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0;
}
.site-header ul {
	list-style: none;
	margin: 0;
}

.site-header .widget_polylang ul li {
	display: inline-block;
	padding: 5px;
}

.site-header .widget_product_search {
	width: 100%;
}
.site-header .widget_product_search input[type="search"] {
	padding: 6px;
	width: 85%;
}

.site-header .site-header-middle {
	min-height: 91px;
	padding-top: 35px;
	float: left;
	width: 620px;
}

.site-header .site-header-left {
	width: 235px;
	text-align: right;
}
.site-header .site-header-right {
	width: 225px;
}
.oceanic-header-layout-standard .site-header-right {
	padding-top: 58px!important;
}
.site-header .quick-menu-holder {
	background: #fff;
	padding: 10px;
	border-radius: 5px;
}
.site-header .quick-menu-holder ul {
	float: right;
}
.site-header .quick-menu-holder ul li {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0px 5px 1px 5px;
	line-height: 18px;
	font-size: 14px;
}
.site-header .quick-menu-holder ul li a {
	color: #4F4F4F;
}
.site-header .quick-menu-holder ul li:first-child {
	box-shadow: 1px 0 0 rgba(0, 0, 0, 0.08);
	padding-left: 0;
}
.site-header .quick-menu-holder .widget_nav_menu {
	margin: 0;
}

.site-header .quick-menu-holder .widget_nav_menu:after,
.site-header .quick-menu-holder .menu-quick-menu-rus-container:after,
.site-header  .quick-menu-holder:after{
	content: '';
	display: block;
	clear: both;
}

.site-header .quick-menu-holder .items {
	text-align: right;
	font-size: 14px;
}

.page-template-template-full-width #primary {
	padding-top: 20px;
}

.woocommerce ul.products li.product h3,
.woocommerce-page ul.products li.product h3 {
	padding-top: 0 0 10px;
	font-size: 14px;
}

.woocommerce ul.products li.product a img {
	margin: 0;
}

.woocommerce #review_form #respond .form-submit input,
.woocommerce-page #review_form #respond .form-submit input,
.woocommerce ul.products li.product a.add_to_cart_button,
.woocommerce-page ul.products li.product a.add_to_cart_button {
	width: 100%;
}
.woocommerce li .product_type_simple {
	padding: 10px 0 10px;
}
.woocommerce ul.products li.product .price del,
.woocommerce-page ul.products li.product .price del {
	display: inline-block;
}

.woocommerce div.product form.cart .variations {
	margin: 0;
}

.woocommerce-variation {
	margin-bottom: 10px;
}
.woocommerce-variation-add-to-cart:after {
	display: block;
	content: '';
	clear: both;
}
.reset_variations {
	margin-left: 5px;
}
.woocommerce div.product form.cart .variations td {
	text-align: right;
}
.single-product .custom-attributes {
	display: block;
	margin-top: -20px;
}
.cart_item .custom-attributes {
	margin: 0;
}
.single-product .custom-attributes>span {
	display: block;
}
.custom-attributes .attribute-label {
	font-weight: bold;
}
.slogan {
	text-align: center;
	letter-spacing: 3px;
}
.orange {
	color: orange;
}
.tel {
	font-size: 14px;
	font-weight: bold;
}
.woocommerce ul.products li.product a:hover img,
.woocommerce-page ul.products li.product a:hover img {
	box-shadow: 0 0 0 2px rgb(28, 28, 28), 0 2px 18px rgba(0, 0, 0, 0.7);
}
.woocommerce-breadcrumb {
	margin-bottom: 20px;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	color: #fff;
}

.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
	padding: 10px 0 16px;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	background-color: #00adef;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
}
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
	background-color: #0397c2;
	color: #fff;
}

.woocommerce span.onsale {
	background-color: #6ba314;
	padding: 5px;
	font-weight: normal;
}

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
	background-color: #6ba314;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	background-color: #00adef;
	text-align: center;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
	background-color: #0397c2;
}
.woocommerce .cart-collaterals .cart_totals table,
.woocommerce-page .cart-collaterals .cart_totals table {
	float: none;

}

#masthead {
	background: url("../../images/clouds2.jpg") no-repeat;
	background-size: cover;
}